<a href="https://colab.research.google.com/github/betahikaru/kaggle-workspace/blob/master/kaggle_elo-merchant-category-recommendation_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [3]:
!pip install kaggle

Collecting kaggle
  Downloading https://files.pythonhosted.org/packages/83/9b/ac57e15fbb239c6793c8d0b7dfd1a4c4a025eaa9f791b5388a7afb515aed/kaggle-1.5.0.tar.gz (53kB)
    100% |████████████████████████████████| 61kB 4.1MB/s
Requirement already satisfied: urllib3<1.23.0,>=1.15 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2018.10.15)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Collecting python-slugify (from kaggle)
  Downloading https://files.pythonhosted.org/packages/00/ad/c778a6df614b6217c30fe80045b365bfa08b5dd3cb02e8b37a6d25126781/python-slugify-1.2.6.tar.gz
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Collecting Unidecode>=0.04.16 (from python-slugify->kaggle)
  Downloading https://files.pythonhosted.org/packages/31/39/53096f9217b057cb049fe872b7fc7ce799a1a89b76cf917d9639e7a558b5/Unidecode-1.0.23-py2.py3-none-any.whl (237kB)
    100% |████████████████████████████████| 245kB 11.1MB/s
Building wheels for collected packages: kaggle, python-slugify
  Running setup.py bdist_wheel for kaggle ... - \ done
  Stored in directory: /root/.cache/pip/wheels/8b/21/3b/a0076243c6ae12a6215b2da515fe06b539aee7217b406e510e
  Running setup.py bdist_wheel for python-slugify ... - done
  Stored in directory: /root/.cache/pip/wheels/e3/65/da/2045deea3098ed7471eca0e2460cfbd3fdfe8c1d6fa6fcac92
Successfully built kaggle python-slugify
Installing collected packages: Unidecode, python-slugify, kaggle
Successfully installed Unidecode-1.0.23 kaggle-1.5.0 python-slugify-1.2.6

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

In [5]:
!kaggle competitions download -c elo-merchant-category-recommendation

Downloading historical_transactions.csv.zip to /content
 97% 524M/538M [00:07<00:00, 81.2MB/s]
100% 538M/538M [00:07<00:00, 76.5MB/s]
Downloading merchants.csv.zip to /content
 90% 11.0M/12.2M [00:00<00:00, 31.8MB/s]
100% 12.2M/12.2M [00:00<00:00, 41.9MB/s]
Downloading new_merchant_transactions.csv.zip to /content
 94% 46.0M/48.9M [00:01<00:00, 26.4MB/s]
100% 48.9M/48.9M [00:01<00:00, 50.4MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/838k [00:00<?, ?B/s]
100% 838k/838k [00:00<00:00, 111MB/s]
Downloading test.csv.zip to /content
  0% 0.00/1.09M [00:00<?, ?B/s]
100% 1.09M/1.09M [00:00<00:00, 178MB/s]
Downloading train.csv.zip to /content
  0% 0.00/2.93M [00:00<?, ?B/s]
100% 2.93M/2.93M [00:00<00:00, 201MB/s]
Downloading Data_Dictionary.xlsx to /content
  0% 0.00/17.2k [00:00<?, ?B/s]
100% 17.2k/17.2k [00:00<00:00, 22.1MB/s]

In [0]:
!pip install -q keras

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [0]:
test = pd.read_csv("test.csv.zip")

In [0]:
train = pd.read_csv("train.csv.zip")

In [10]:
test.describe()

          feature_1      feature_2      feature_3
count  123623.00000  123623.000000  123623.000000
mean        3.10926       1.741796       0.564377
std         1.18911       0.749195       0.495840
min         1.00000       1.000000       0.000000
25%         2.00000       1.000000       0.000000
50%         3.00000       2.000000       1.000000
75%         4.00000       2.000000       1.000000
max         5.00000       3.000000       1.000000

In [11]:
test.head()

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1
3            2017-12  C_ID_d27d835a9f          2          1          0
4            2015-12  C_ID_2b5e3df5c2          5          1          1

In [12]:
train.describe()

           feature_1      feature_2      feature_3         target
count  201917.000000  201917.000000  201917.000000  201917.000000
mean        3.105311       1.745410       0.565569      -0.393636
std         1.186160       0.751362       0.495683       3.850500
min         1.000000       1.000000       0.000000     -33.219281
25%         2.000000       1.000000       0.000000      -0.883110
50%         3.000000       2.000000       1.000000      -0.023437
75%         4.000000       2.000000       1.000000       0.765453
max         5.000000       3.000000       1.000000      17.965068

In [13]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749

In [17]:
!pip install lightgbm

Collecting lightgbm
  Downloading https://files.pythonhosted.org/packages/4c/3b/4ae113193b4ee01387ed76d5eea32788aec0589df9ae7378a8b7443eaa8b/lightgbm-2.2.2-py2.py3-none-manylinux1_x86_64.whl (1.2MB)
    100% |████████████████████████████████| 1.2MB 15.6MB/s
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from lightgbm) (0.19.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from lightgbm) (1.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lightgbm) (1.14.6)
Installing collected packages: lightgbm
Successfully installed lightgbm-2.2.2

In [0]:
import lightgbm as lgb

In [0]:
# GridSearchCV
# https://hackkisser.hatenablog.com/entry/2018/05/22/202946
target = 'target'
predictors = ['feature_1', 'feature_2', 'feature_3']
bst = lgb.LGBMRegressor(
   num_leavs=31,
    learning_rate=0.01,
    min_child_samples=10,
    n_estimators=1000,
    max_depth=-1,
)

In [0]:
from sklearn.model_selection import train_test_split
train_train, train_test = train_test_split(train, test_size=.10, random_state=1)

In [29]:
train_train.describe()

           feature_1      feature_2      feature_3         target
count  181725.000000  181725.000000  181725.000000  181725.000000
mean        3.106050       1.744922       0.565976      -0.394329
std         1.187317       0.751145       0.495629       3.848273
min         1.000000       1.000000       0.000000     -33.219281
25%         2.000000       1.000000       0.000000      -0.883014
50%         3.000000       2.000000       1.000000      -0.023162
75%         4.000000       2.000000       1.000000       0.763180
max         5.000000       3.000000       1.000000      17.965068

In [30]:
train_test.describe()

          feature_1     feature_2     feature_3        target
count  20192.000000  20192.000000  20192.000000  20192.000000
mean       3.098653      1.749802      0.561906     -0.387402
std        1.175701      0.753313      0.496165      3.870571
min        1.000000      1.000000      0.000000    -33.219281
25%        2.000000      1.000000      0.000000     -0.883473
50%        3.000000      2.000000      1.000000     -0.027988
75%        4.000000      2.000000      1.000000      0.787084
max        5.000000      3.000000      1.000000     14.855160

In [24]:
bst.fit(
    train_train[predictors],
    train_train[target],
    eval_names=['train'],
    eval_set=[
      (train_train[predictors].values, train_train[target].values)
    ],
    eval_metric='rmse',
    early_stopping_rounds=10,
    verbose=0,
)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       importance_type='split', learning_rate=0.01, max_depth=-1,
       min_child_samples=10, min_child_weight=0.001, min_split_gain=0.0,
       n_estimators=1000, n_jobs=-1, num_leaves=31, num_leavs=31,
       objective=None, random_state=None, reg_alpha=0.0, reg_lambda=0.0,
       silent=True, subsample=1.0, subsample_for_bin=200000,
       subsample_freq=0)

In [32]:
from sklearn.metrics import mean_squared_error
pred1 = bst.predict(train_test[predictors])
rmse1 = np.sqrt(mean_squared_error(pred1, train_test[target]))
print(f'default RMSE: {rmse1}')

default RMSE: 3.8690153060356365

In [33]:
from sklearn.model_selection import (
    cross_val_score,
    KFold,
)
scores = -cross_val_score(
    bst,
    train_train[predictors],
    train_train[target],
    scoring='neg_mean_squared_error',
    cv=KFold(n_splits=3, shuffle=True),
)
scores = np.sqrt(scores)

print(f'Cross-Validation scores: {scores}')
print(f'Average score: {np.mean(scores)}')

Cross-Validation scores: [3.85146375 3.83055855 3.85863089]
Average score: 3.846884394393421

In [0]:
# GridSearchCV
grid_param ={
    'n_estimators': [1000,2000],
    'max_depth': [4,8,16],
    'num_leaves': [31,15,7,3],
    'learning_rate': [0.1,0.05,0.01]
}
fit_params={
    'early_stopping_rounds': 10, 
    'eval_metric' : 'rmse', 
    'eval_set' : [(train_train[predictors], train_train[target])]
}

In [40]:
train_train[:20]

,first_active_month,card_id,feature_1,feature_2,feature_3,target
159932,2017-09,C_ID_ad05a0777d,3,1,1,0.150901
123757,2017-11,C_ID_f015a72a32,3,1,1,-0.371302
7160,2017-07,C_ID_3fdd740515,5,2,1,0.659100
164016,2017-09,C_ID_3ff438dbec,2,2,0,0.098790
163237,2017-09,C_ID_a2d4d9cc33,2,1,0,-1.352437
138778,2017-01,C_ID_e815d2f89e,2,1,0,-4.110530
151082,2017-11,C_ID_3873acdf1d,3,1,1,0.208661
138212,2015-06,C_ID_598e6f2201,5,1,1,0.154729
54032,2017-10,C_ID_ed7d821840,2,3,0,0.028941
7222,2017-02,C_ID_f987caa9d7,4,3,0,-2.807258
60432,2015-10,C_ID_13c1e370a2,3,3,1,1.215441
43433,2017-05,C_ID_fa326e23fe,5,1,1,0.203277
31330,2017-06,C_ID_d81b48bf9a,2,2,0,-0.226094
199117,2017-09,C_ID_a02576cb6a,2,3,0,2.470077
20337,2017-03,C_ID_c7e0b69e5c,3,1,1,-0.611944
84834,2016-04,C_ID_4d751ba7ac,3,3,1,1.310343
57709,2016-12,C_ID_92a1806dc5,3,2,1,3.506634
121723,2017-04,C_ID_b594eb5e42,3,1,1,0.794212
144040,2017-11,C_ID_85c01781e9,5,2,1,1.225959
101146,2017-10,C_ID_96fd16a550,1,1,0,-4.962807

In [0]:
n = 2000

In [52]:
from sklearn.model_selection import GridSearchCV
bst_gs_cv = GridSearchCV(
    bst,  # 識別器
    grid_param,  # 最適化対象パラメタ
    cv=KFold(n_splits=3, shuffle=True),
    scoring='neg_mean_squared_error',
    verbose=0,
)
bst_gs_cv.fit(
    train_train[:n][predictors],
    train_train[:n][target],
    **fit_params,
    verbose=0,
)

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=True),
       error_score='raise',
       estimator=LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       importance_type='split', learning_rate=0.01, max_depth=-1,
       min_child_samples=10, min_child_weight=0.001, min_split_gain=0.0,
       n_estimators=1000, n_jobs=-1, num_leaves=31, num_leavs=31,
       objective=None, random_state=None, reg_alpha=0.0, reg_lambda=0.0,
       silent=True, subsample=1.0, subsample_for_bin=200000,
       subsample_freq=0),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_estimators': [1000, 2000], 'max_depth': [4, 8, 16], 'num_leaves': [31, 15, 7, 3], 'learning_rate': [0.1, 0.05, 0.01]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [55]:
m = 20000
best_param = bst_gs_cv.best_params_
print(f'Best parameter: {best_param}')

pred2 = bst_gs_cv.predict(train_test[:m][predictors])
rmse2 = np.sqrt(mean_squared_error(pred2, train_test[:m][target]))
print(f'GridSearchCV RMSE: {rmse2}')

Best parameter: {'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 1000, 'num_leaves': 7}
GridSearchCV RMSE: 3.8793495268586033

In [56]:
type(pred2)

numpy.ndarray

In [57]:
train_pred2[:20]

array([-0.43335955, -0.42933247, -0.36583939, -0.42933247, -0.43335955,
       -0.43335955, -0.45911661, -0.43335955, -0.42933247, -0.43335955,
       -0.43335955, -0.60984415, -0.45911661, -0.42933247, -0.425691  ,
       -0.42933247, -0.43335955, -0.43335955, -0.43335955, -0.42933247])

In [58]:
pred_submit = bst_gs_cv.predict(test[predictors])
pred_submit

array([-0.43335955, -0.36583939, -0.43335955, ..., -0.43335955,
       -0.42933247, -0.43335955])

In [104]:
submit_gs_cv = test
submit_gs_cv = submit_gs_cv.drop(['first_active_month', 'feature_1', 'feature_2', 'feature_3'], axis=1)
submit_gs_cv['target'] = pred_submit
submit_gs_cv.describe()

              target
count  123623.000000
mean       -0.435213
std         0.035596
min        -0.609844
25%        -0.433360
50%        -0.433360
75%        -0.429332
max        -0.365839

In [0]:
submit_gs_cv.to_csv("submission_gs_cv.csv", index=False, header=True)

In [106]:
submit_gs_cv.head()

           card_id    target
0  C_ID_0ab67a22ab -0.433360
1  C_ID_130fd0cbdd -0.365839
2  C_ID_b709037bc5 -0.433360
3  C_ID_d27d835a9f -0.429332
4  C_ID_2b5e3df5c2 -0.433360

In [107]:
submit_gs_cv.columns

Index(['card_id', 'target'], dtype='object')

In [108]:
!kaggle competitions submit -c elo-merchant-category-recommendation -f "submission_gs_cv.csv" -m "GridSearchCV, Only feature_1/2/3."

100% 4.35M/4.35M [00:01<00:00, 2.89MB/s]
Successfully submitted to Elo Merchant Category Recommendation